*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lustria', serif;
    font-weight: lighter;
    height: 100%;
}

/* HEADER STYLE */

header{
    background-color: #FAF9E5;
}

header .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    color: #3C0303;
}

header .menu-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desktop .logo-desktop a{
    font-weight: 100;
    user-select: none;
    font-size: 30px;
    color: #3C0303;
    text-decoration: none;
}

.itens-menu-desktop ul{
    display: flex;
    flex-direction: row;
}

.itens-menu-desktop ul li{
    list-style-type: none;
    padding: 15px;
    position: relative;
}

.itens-menu-desktop ul li a{
    text-decoration: none;
    color: #3C0303;
    font-size: 18px;
}

.itens-menu-desktop ul li::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 10%;
    background-color: #3C0303;
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
  }
  
  .itens-menu-desktop ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.contato-desktop a{
    text-decoration: none;
    color: #FAF9E5;
    background-color: #3C0303;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #faf9e500;
    transition: 0.5s;
}

.contato-desktop a:hover{
    background-color: #FAF9E5;
    color: #3C0303;
    border: 1px solid #3C0303;
}

header .menu-mobile{
    display: none;
}

/* FOOTER STYLE */

footer{
    margin-top: 30px;
    background-color: #3C0303;
}

footer .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

footer .footer-top{
    display: flex;
    justify-content: center;
    gap: 8%;
    align-items: center;
}

.footer-top img{
    max-width: 220px;
    height: auto;
}

.footer-info p{
    color: #FAF9E5;
    margin: 10px 0;
}

footer .footer-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FAF9E5;
}

.footer-bottom .footer-social{
    margin-top: 10px;
}

.footer-social a{
    color: #FAF9E5;
    font-size: 25px;
    margin: 0 5px;
}